@page
@model OOP_Project_20882069.Pages.EditProductModel
@{
    ViewData["Title"] = "Sửa sản phẩm";
}
@if (Model.product != null)
{
    <h1 class="hightlight text-center">Sửa sản phẩm</h1>
    <div class="container">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label for="productName">Tên sản phẩm:</label>
                <input type="text" class="form-control" id="productName" value="@Model.product.Name" name="Name" placeholder="Nhập tên sản phẩm" required>
            </div>
            <div class="form-group">
                <label for="expiryDate">Hạn sử dụng:</label>
                <input type="date" class="form-control" id="expiryDate" value="@Model.product.ExpiryDate.ToString("yyyy-MM-dd")" name="ExpiryDate" required>
            </div>
            <div class="form-group">
                <label for="manufacturer">Công ty sản xuất:</label>
                <input type="text" class="form-control" id="manufacturer" value="@Model.product.Manufacturer.ToString()" name="Manufacturer" placeholder="Nhập công ty sản xuất" required>
            </div>
            <div class="form-group">
                <label for="yearOfProduction">Năm sản xuất:</label>
                <input type="text" class="form-control" id="yearOfProduction" value="@Model.product.YearOfProduction" name="YearOfProduction" placeholder="Nhập năm sản xuất" required>
            </div>
            <div class="form-group">
                <div class="form-outline">
                    <label for="commodity">Loại hàng:</label>
                    <select class="form-control" id="commodity" name="commodity">
                        @foreach (var comm in Model.commodities)
                        {
                            <option value="@comm.ComId" selected>@comm.ComName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary mr-1">Lưu thông tin</button>
                    <a class="btn btn-danger" role="button" asp-page="Index">Huỷ</a>
                </div>
            </div>
        </form>
    </div>
}
@if (!string.IsNullOrEmpty(Model.message))
{
    <div class="alert alert-warning">
        @Model.message
    </div>
}
